@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
}

button,
input {
	font-family: 'Poppins', sans-serif;
}

button {
	transition: opacity 0.3s;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

.button-click {
	animation: buttonClick 1s forwards;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.shadow-mobile {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0000005b;
	opacity: 0;
	z-index: 999;
	animation: shadowMobile 1s forwards;
}

.nav {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(10px);
	z-index: 1000;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3.5em 2em;

		.nav-active {
			display: block;
			animation: navslide 1s forwards;
		}

		@keyframes navslide {
			from {
				height: 0px;
				padding: 0em;
			}
			to {
				height: 29em;
				padding: 2em;
			}
		}
		&-large-container {
			display: none;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			top: 90%;
			border-radius: 1em;
			background-color: #3b3054;
			overflow: hidden;

			.line {
				width: 100%;
				height: 0.1em;
				margin: 1em 0;
				background-color: $grayishViolet;
			}
		}

		&-about {
			display: flex;
			flex-direction: column;
			text-align: center;

			a {
				padding: 0.5em 0;
				font-size: 1.6rem;
				font-weight: bold;
				text-decoration: none;
				color: #fff;
			}
		}

		&-registration {
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		&-login {
			padding: 0.5em 0;
			font-size: 1.6rem;
			font-weight: bold;
			text-decoration: none;
			color: #fff;
			cursor: pointer;
		}

		&-signup {
			padding: 0.5em 0;
			margin: 0.5em;
			font-size: 1.6rem;
			border-radius: 2em;
			font-weight: bold;
			border: none;
			background-color: $cyan;
			color: #fff;
			cursor: pointer;
		}

		&-menu {
			font-size: 2.8rem;
			cursor: pointer;
		}
	}
}

.header {
	width: 100%;
	overflow: hidden;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 9.5em;

		&-img {
			width: 52em;
			max-width: 145%;
			margin-left: 18em;
		}

		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 4em;
			padding: 0 2em;
			text-align: center;
		}

		&-heading {
			font-size: 4rem;
			line-height: 1.2em;
			color: $veryDarkBlue;
		}

		&-text {
			margin-top: 1em;
			font-size: 1.8rem;
			line-height: 1.6em;
			color: $grayishViolet;
		}
	}
}

.get-started-btn {
	padding: 0.7em 2em;
	margin-top: 1.7em;
	font-size: 2rem;
	border-radius: 2em;
	font-weight: bold;
	color: #fff;
	background-color: $cyan;
	border: none;
}

.advanced-stats {
	margin-top: 13em;
	padding-bottom: 13em;
	background-color: $lightGray;

	&__container {
		padding: 0 2em;
	}

	.shorten-content {
		width: 100%;
		padding: 2.2em;
		background-image: url('../images/bg-shorten-mobile.svg'), linear-gradient(135deg, #3b3054, #3b3054);
		background-size: 100%, 100%;
		background-repeat: no-repeat;
		background-position: 0% 100%, 0%, 0%;
		border-bottom-left-radius: 10em;
		border-radius: 1.3em;
		transform: translateY(-50%);

		input,
		button {
			width: 100%;
		}

		&__input {
			padding: 0.68em;
			font-size: 1.6rem;
			border-radius: 0.4em;
			border: none;
		}

		&__error {
			display: none;
			position: absolute;
			top: 5em;
			left: 0;
			padding-left: 1.4em;
			font-size: 1.5rem;
			color: rgb(255, 78, 78);
			font-style: oblique;
		}

		&__btn {
			margin-top: 2.3em;
			padding: 0.8em;
			border-radius: 0.4em;
			font-size: 1.5rem;
			letter-spacing: 0.03em;
			border: none;
			font-weight: bold;
			background-color: $cyan;
			color: #fff;
		}
	}

	.shorten-link-container {
		margin-top: -5em;
	}

	.shorten-link {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 2em 0;
		border-radius: 1em;
		background-color: #fff;

		&__old {
			width: 100%;
			padding: 1.3em;
			border-bottom: 1px solid rgb(230, 230, 230);
			overflow: hidden;

			&-link {
				overflow: hidden;
			}
		}

		&__new {
			padding: 1.3em;

			&-link {
				color: $cyan;
			}

			&-btn {
				width: 100%;
				margin-top: 1em;
				padding: 0.6em 0;
				font-size: 1.5rem;
				border-radius: 0.4em;
				border: none;
				color: #fff;
				background-color: $cyan;
				cursor: pointer;
			}
		}

		p {
			font-size: 1.6rem;
		}
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 7em;
	}

	&__heading {
		text-align: center;
		font-size: 2.7rem;
		color: $veryDarkBlue;
	}

	&__text {
		text-align: center;
		margin-top: 1em;
		font-size: 1.6rem;
		line-height: 1.7em;
		color: $grayishViolet;
	}

	&__feature {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		width: 100%;
		margin: 0 auto;
		gap: 10em;
		margin-top: 10em;

		&-box {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			padding: 0em 3em 4em 3em;
			border-radius: 1em;
			background-color: #fff;
		}

		&-img-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 9em;
			height: 9em;
			margin-bottom: -2em;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: $purple;
		}

		&-heading {
			font-size: 2.2rem;
		}

		&-text {
			padding-top: 1em;
			color: $grayishViolet;
			font-size: 1.6rem;
		}
	}
}

.boost-section {
	padding: 10em 3em;
	text-align: center;
	background-image: url('../images/bg-boost-mobile.svg'), linear-gradient(135deg, #3b3054, #3b3054);
	background-size: cover;
	background-repeat: no-repeat;

	&__heading {
		font-size: 2.7rem;
		color: #fff;
	}

	&__btn {
		margin-top: 1em;
	}
}

.footer {
	background-color: $veryDarkViolet;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 5em 2em;
	}
	&__logo {
		fill: white;
	}

	&__quick-links {
		margin: 3em 0;
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-bottom: 4em;

		span {
			color: #fff;
			font-size: 1.6rem;
			padding: 1em 0;
		}

		a {
			padding: 0.2em 0;
			font-size: 1.6rem;
			text-decoration: none;
			color: $grayishViolet;
			transition: color 0.3s;

			&:hover {
				color: $cyan;
			}
		}
	}

	&__socials {
		img {
			margin: 0 1.3em;
			transition: color 0.3s;
			cursor: pointer;
		}
	}
}

@media (min-width: 1024px) {
	.nav {
		padding: 0 3em;
		&__content {
			padding: 0 2em;
			justify-content: flex-start;
			i {
				display: none;
			}

			&-logo {
				margin-right: 0;
			}

			&-large-container {
				position: relative;
				width: 100%;
				display: flex;
				padding: 2em;
				left: 47.3%;
				justify-content: space-between;
				align-items: center;
				background: none;

				.line {
					display: none;
				}
			}
			&-registration {
				flex-direction: row;
				align-items: center;
			}
			&-about {
				flex-direction: row;
				a {
					padding: 0 1.2em;
					font-size: 1.6rem;
					font-weight: bold;
					text-decoration: none;
					color: black;
					transition: color 0.3s;

					&:hover {
						color: $grayishViolet;
					}
				}
			}

			&-login {
				font-size: 1.6rem;
				font-weight: bold;
				border: none;
				background: none;
				color: black;
				transition: color 0.3s;

				&:hover {
					color: $grayishViolet;
				}
			}

			&-signup {
				margin-left: 2em;
				padding: 0.4em 1.2em;
				font-size: 1.6rem;
				border-radius: 2em;
				border: none;
				font-weight: bold;
				background-color: $cyan;
				color: #fff;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.header {
		padding: 0 3em;
		&__content {
			position: relative;
			flex-direction: row;
			margin-top: 14em;

			&-img {
				width: 90em;
				margin-right: -25em;
				order: 1;
			}

			&-container {
				text-align: left;
				align-items: flex-start;
				margin-right: -15em;
			}

			&-heading {
				font-size: 7rem;
			}

			&-text {
				font-size: 2.4rem;
			}
		}
	}

	.advanced-stats {
		.shorten-content {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5em;
			margin-top: 20em;
			background-image: url('../images/bg-shorten-desktop.svg'), linear-gradient(135deg, #3b3054, #3b3054);

			&__error {
				top: 6.4em;
				margin-left: 1.7em;
				font-size: 1.6rem;
			}

			input {
				width: 85%;
			}
			button {
				width: 15%;
				margin: 0;
				margin-left: 1em;
			}
		}

		&__feature {
			gap: 5em;
			&-box:nth-child(2) {
				position: relative;
				transform: translateY(10%);

				&::after,
				&::before {
					content: '';
					position: absolute;
					top: 40%;
					height: 0.8em;
					width: 5em;
					background-color: $cyan;
					z-index: 1;
				}

				&::after {
					left: -5em;
				}

				&::before {
					right: -5em;
				}
			}
		}

		&__feature-box:nth-child(3) {
			transform: translateY(20%);
		}

		&__heading {
			font-size: 3.4rem;
		}

		&__text {
			margin: 1em auto;
			font-size: 1.8rem;
			max-width: 30em;
		}

		.shorten-link {
			justify-content: space-between;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			padding: 0.8em 1.5em;

			&__old {
				width: 100%;
				padding: 1.3em;
				border: none;
				overflow: hidden;

				&-link {
					overflow: hidden;
				}
			}

			&__new {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 1.3em;

				&-link {
					color: $cyan;
				}

				&-btn {
					margin-top: 0;
					margin-left: 1em;
					padding: 0.5em 1.5em;
					font-size: 1.5rem;
					border-radius: 0.4em;
					border: none;
					color: #fff;
					background-color: $cyan;
				}
			}
		}
	}

	.boost-section {
		padding: 7em 3em;
		background-image: url('../images/bg-boost-desktop.svg'), linear-gradient(135deg, #3b3054, #3b3054);
		background-size: cover;

		&__heading {
			font-size: 3.8rem;
		}
	}

	.footer {
		&__content {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			text-align: left;
		}
		&__logo {
			fill: white;
		}

		&__info {
			display: flex;
			flex-direction: column;
			margin: 0 5em;

			span {
				padding: 0;
				margin-bottom: 1em;
			}

			a {
				padding: 0.2em 0;
				font-size: 1.6rem;
				text-decoration: none;
				color: $grayishViolet;
				transition: color 0.3s;

				&:hover {
					color: $cyan;
				}
			}
		}

		&__socials {
			img {
				margin: 0 1.3em;
				transition: color 0.3s;
				cursor: pointer;
			}
		}
	}
}

@keyframes buttonClick {
	from {
	}
	to {
		background-color: #3b3054;
	}
}

@keyframes shadowMobile {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
